<%
  var pageTitle = page.title || config.subtitle || '';
  if (is_archive()) pageTitle = 'Archives';
  if (is_tag()) pageTitle = 'Tag: ' + page.tag;
  if (is_category()) pageTitle = 'Category: ' + page.category;
  if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
  if (is_year()) pageTitle += ': ' + page.year;
  pageTitle += ' [ ' + theme.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <meta charset="UTF-8">
  <title><%= pageTitle %></title>
  <%- include('_partials/head.ejs') %> 
</head>
<body>
  <div class="milk-header">
    <%- include('_partials/header.ejs')  %> 
  </div>
  <div class="milk-body">
    <%- body %>
  </div>
  <%- include('_partials/footer.ejs') %>
</body>
</html>
