<%# toc %> 
<div class="draggable-toc">
  <div class="toc-title"><%- page.title %></div>
  <p>process: <span>0</span></p>
  <div class="progress-container">
    <div class="progress-bar" id="bar"></div>
  </div> 
  <%- toc(page.content, {list_number:false}) %> 
</div>
<%# content %> 
<div class="post-content" id="post-content">
  <div id="top"><%- page.title %></div>
  <div class="post">
    <% if(page.categories){ %>
      <i class="fa fa-location-arrow"></i>
      <% page.categories.each(element => { %> 
        <a href="<%= config.root %><%= element.path %>">
          <%- element.name  %> 
        </a>
      <% }) %> 
    <% } %> 
    <%- page.content %>
    <% if(page.tags){ %> 
      <i class="fa fa-tags"></i>
      <% page.tags.each(element => { %> 
        <a href="<%= config.root %><%= element.path %>">
          <%- element.name  %> 
        </a>
      <% }) %> 
    <% } %> 
    <%- include('_partials/tools/comment.ejs') %>
  </div>
</div>
<div>
  <button id="scroll2top">back to top</button>
</div>
