<%# global navigation bar %> 
<% if (theme.menu) { %>
  <nav class="header-nav">
    <%# menu %> 
    <ul class="nav-menu">
      <% for( var _menu in theme.menu) { %>
        <li id="<%- _menu %>">
          <i class="<%- theme.menu[_menu].icon %>" aria-hidden="true"></i>
          <a href="<%- url_for(theme.menu[_menu].path) %> "><%- _menu %></a>
        </li>
      <% } %>
    </ul>
    <%# date %>
    <% if (theme.date) { %>
      <span class="nav-date">
        <div id="date-ymd"></div>
        <div id="date-week"></div>
        <div id="date-time"></div>
      </span>
    <% } %>
    <%# system info %>
    <% if(theme.system){ %>
      <span class="nav-system" id="nav-system"></span>
    <% } %>
    <%# layout %>
    <span class="nav-layout" id="nav-layout" data-layout="<%= theme.layout %>">
      <div id="layout-show">
        <div class="show-icon"></div>
        <div class="show-text"></div>
      </div>
    </span>
    <%# more %>
    <span class="nav-access">
      <i class="fas fa-toggle-off" id="nav-access"></i>
      <div class="dropdown-content" id="dropdown-content">
        <ul class="social">
          <% for(var _social in theme.social) { %>
            <li>
              <a href="<%- theme.social[_social].url %>">
                <i class="<%- theme.social[_social].icon %>" aria-hidden="true"></i>
              </a>
            </li>
          <% } %>
        </ul>
        <ul>
          <li><span>Powered by <a href="https://hexo.io/">Hexo</a></span></li>
        </ul>
        <div>
          <label for="scheme-select">Color scheme: </label>
          <select id="scheme-select">
            <option value='<%= theme.color_scheme %>'><%= theme.color_scheme %></option>
          </select>
          <label for="highlight-select">Code highlight: </label>
          <select id="highlight-select">
            <option value='<%= theme.highlight %>'><%= theme.highlight %></option>
          </select>
        </div>
        <div>
          <label for="ffolders-select">ffolders scheme: </label>
          <select name="size" id="size-select">
            <option value='<%= theme.ffolders.size %>'><%= theme.ffolders.size %></option>
          </select>
          <select name="color" id="color-select">
            <option value='<%= theme.ffolders.color %>'><%= theme.ffolders.color %></option>
          </select>
        </div>
        <div>
          <label for="blur-slider">background blur
            <span id="blur-value"><%= theme.background.blur %></span> px
          </label>
          <input type="range" id="blur-slider" min="0" max="20" data-value='<%= theme.background.blur %>'>
        </div>
        <div>
          <label for="font-enable">font</label>
          <input type="checkbox" id="font-check" name="font-check" data-check="<%= theme.font %>">
        </div>
      </div>
    </span>
  </nav>
<% } %>