<ul>
  <% page.posts.forEach(function(post){ %>
    <% _path = post.source; var path = _path.split('/'); %>
    <li>
      <ul class="breadcrumbs" id="post-source">
        <li><a href="#"><i class="fa fa-file-text"></i></a></li>
        <% for( let i = 1; i < path.length - 1; i++ ) { %>
          <% var element = '<li><a href="#">' + path[i] + '</a></li>'; %> 
          <%- element %> 
        <% } %>
        <%-
          '<li id="post-title"><a href="' 
          + config.root + post.path + '" title="' + post.title + '">'
          + truncate(post.title, {length: 15}) + '</a></li>'
        %> 
      </ul>
      <div class="post-table">
        <table>
          <tr>
            <th></th>
            <th>
              <span class="table-title">File: <%- post.title %></span>
              <span><%- date(post.date, "YYYY-MM-DD") %></span>
            </th>
          </tr>
          <tr>
            <td class="table-linenum" id="table-linenum">content</td>
            <td><%- post.excerpt %></td>
          </tr>
        </table> 
      </div>
    </li>
  <% }); %> 
</ul>
